.card{
    /* height: 33vh; */
    width: 20vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 14px; */
}
.cardImg{
    height: auto;
    width: 100%;
}
    
.img-container{
    height: auto;
    width: 100%; 
}

